.class {
  margin: -0.625rem 1.25rem;
  padding: 5rem 0.03125rem;
  border: 0.1875rem solid black;
  font-size: 0.875rem;
  line-height: 20px;
}
.mmm {
  font-size: 32px;
  line-height: 1em;
}
.mmm .nested {
    font-size: 1rem;
  }
@media (min-width: 750px) {
  .class3 {
    font-size: 16px;
    line-height: 22px;
  }
    .class3 .nested {
      font-size: 16px;
    }
}
.class2 {
  margin: -0.625rem 1.25rem;
  padding: 5rem 0.03125rem;
  border: 0.1875rem solid black;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.class2 .nested {
    font-size: 1rem;
  }
/*
.class {
  font-size: 16px;
}
*/
