/* pxtorem?disable=false */
.class {
  margin: -10px 20px;
  padding: 5rem 0.5px;
  border: 3px solid black;
  font-size: 14px;
  line-height: 20PX;
}
.mmm {
  /* pxtorem-disable-next-line */
  font-size: 32px;
  line-height: 1em;
  .nested {
    font-size: 16px;
  }
}

/* pxtorem?disable=true */
@media (min-width: 750px) {
  .class3 {
    font-size: 16px;
    line-height: 22px;
    .nested {
      font-size: 16px;
    }
  }
}

/* pxtorem?disable=false */
.class2 {
  margin: -10px 20px;
  padding: 5rem 0.5px;
  border: 3px solid black;
  font-size: 14px;
  line-height: 20px;
  .nested {
    font-size: 16px;
  }
}
/*
.class {
  font-size: 16px;
}
*/
